.animation-check {
	width: 60px;

	@media (min-width: 768px) {
		width: 100px;
	}

	$offset: 500;

	.check {
		width: 100%;
		height: auto;

		path {
			fill: none;
			stroke: white;
			stroke-miterlimit: 10;
			stroke-width: 10px;
			stroke-dasharray: $offset;
			stroke-dashoffset: $offset;
		}
	}

	svg {
		overflow: visible;
	}
}

.animation-wait {
	width: 40px;

	.wait {
		width: 100%;
		height: auto;
	}
}

#claim-verify {
	.animation-check,
	.animation-wait {
		position: absolute;
		right: 0;
		bottom: 0.6rem;
		display: none;
	}

	.animation-wait {
		@media (min-width: 768px) {
			left: 27.3rem;
			bottom: 0.4rem;
		}
	}

	&.waiting {
		.animation-wait {
			display: block;
		}
	}

	&.verified {
		#claim-verify-heading {
			span {
				display: none;
			}

			&:after {
				content: "Claim Verified";
			}
		}

		.animation-check {
			display: block;

			.check path {
				animation: draw 1s linear forwards;
			}
		}

		.animation-wait {
			display: none;
		}
	}
}

@keyframes draw {
	from {
		stroke-linecap: round;
	}
	to {
		stroke-linecap: round;
		stroke-dashoffset: 0;
	}
}

#get-decoded-pubkey {
	.btn-clipboard {
		display: none;
	}

	&.verified {
		.btn-clipboard {
			display: block;
			animation: fade-up 0.4s linear forwards;
		}
	}
}

@keyframes fade-up {
	from {
		transform: translate(0, 2rem);
		opacity: 0;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}
