.dot {
	position: absolute;
	transform: translate(-50%, -50%) scale(1);
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: $primary;
	will-change: transform;
	opacity: 0;

	.tns-lazy-img.loaded.tns-complete ~ & {
		opacity: 1;
	}

	#nested_inner_parity_signer .tns-slide-active &,
	#nested_inner_polkadot_js_plugin .tns-slide-active &,
	#nested_inner_slider_polkadot_js .tns-slide-active &,
	#nested_inner_mycrypto .tns-slide-active &,
	#nested_inner_attest .tns-slide-active & {
		animation: pulsing-dot 1.5s ease-in-out infinite;
	}

	// slider_parity_signer

	#s1_1 & {
		top: 42.5%;
		left: -0.5%;
	}

	#s1_2 & {
		top: 20.5%;
		left: -0.5%;
	}

	#s1_3 & {
		top: 39%;
		left: -0.5%;
	}

	#s1_4 & {
		top: 26%;
		left: -0.5%;
	}

	#s1_5 & {
		top: 21.5%;
		left: -0.5%;
	}

	#s1_6 & {
		top: 56%;
		left: -0.5%;
	}

	// slider_polkadot_js_plugin

	#s2_2 & {
		top: 11.85%;
		left: 95.5%;
	}

	#s2_3 & {
		top: 23.9%;
		left: -0.5%;
	}

	#s2_4 & {
		top: 94%;
		left: 5.5%;
	}

	#s2_5 & {
		top: 94.1%;
		left: 5.5%;
	}

	#s2_5_2 & {
		top: 21.5%;
		left: -0.5%;
	}

	#s2_5_3 & {
		top: 23.8%;
		left: -0.5%;
	}

	#s2_6 & {
		top: 37.4%;
		left: -0.5%;
	}

	#s2_7 & {
		top: 63.4%;
		left: 5.5%;
	}

	#s2_8 & {
		top: 94.2%;
		left: 5.5%;
	}

	#s2_9 & {
		top: 6%;
		right: -1rem;
	}

	#s2_10 & {
		top: 45.6%;
		left: 38.5%;
	}

	#s2_11 & {
		top: 22.5%;
		left: 11%;
	}

	#s2_12 & {
		top: 20%;
		left: 16%;
	}

	#s2_13 & {
		top: 20%;
		left: 16%;
	}

	// subkey

	#s3_1 & {
		top: 18.1%;
		left: -0.5%;
	}

	// slider polkadot js

	#s4_1 & {
		top: 19.9%;
		left: -0.5%;
	}

	#s4_2 & {
		top: 16.4%;
		left: 60.5%;
	}

	#s4_3 & {
		top: 29.5%;
		left: -0.5%;
	}

	#s4_4 & {
		top: 51.4%;
		left: -0.5%;
	}

	#s4_5 & {
		top: 43.9%;
		right: -1rem;
	}

	// slider mycrypto

	#sA_3 & {
		top: 28.9%;
		left: 16.5%;
	}

	#sA_1_3 & {
		top: 17.9%;
		left: 52.5%;
	}

	#sA_1_4 & {
		top: 30.9%;
		left: 52.5%;
	}

	#sA_1_5 & {
		top: 48.5%;
		left: 12%;
	}

	#sA_1_6 & {
		top: 35.9%;
		left: -0.5%;
	}

	#sA_1_7 & {
		top: 66.9%;
		left: 52.5%;
	}

	#sA_1_8 & {
		top: 72.9%;
		left: 19.5%;
	}

	#sA_1_9 & {
		top: 96.9%;
		left: 44.5%;
	}

	#sA_1_10 & {
		top: 22.5%;
		left: 73.5%;
	}

	#sA_1_11 & {
		top: 18.5%;
		left: 81.5%;
	}

	#sA_1_12 & {
		top: 38.9%;
		left: 78.5%;
	}

	#sA_2_2 & {
		display: none;
	}

	#sA_2_3 & {
		top: 15.9%;
		left: -0.5%;
	}

	#sA_2_4 & {
		top: 26.9%;
		left: 54.5%;
	}

	#sA_2_5 & {
		top: 31.9%;
		left: 54.5%;
	}

	#sA_2_6 & {
		top: 55.9%;
		left: 81.5%;
	}

	#sA_2_7 & {
		top: 38.9%;
		left: 78.5%;
	}

	#sA_2_8 & {
		top: 38.9%;
		left: 78.5%;
	}
}

@keyframes pulsing-dot {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}
	50% {
		transform: translate(-50%, -50%) scale(1.5);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}
