.dot {
	position: absolute;
	transform: translate(-50%, -50%) scale(1);
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: $primary;
	will-change: transform;
	opacity: 0;

	.tns-lazy-img.loaded.tns-complete ~ & {
		opacity: 1;
	}

	#nested_inner_polkadot_js_plugin .tns-slide-active &,
	#nested_inner_slider_polkadot_js .tns-slide-active &,
	#nested_inner_mycrypto .tns-slide-active & {
		animation: pulsing-dot 1.5s ease-in-out infinite;
	}

	// slider_parity_signer

	#s1_2 & {
		top: 27.85%;
		left: 53.9%;
	}

	#s1_3 & {
		top: 27.2%;
		left: 24.5%;
	}

	#s1_5_1 & {
		bottom: 7%;
		right: 15.5%;
	}

	#s1_5_2 & {
		bottom: 9%;
		left: -0.5%;
	}

	#s1_6_1 & {
		top: 21%;
		left: -0.5%;
	}

	#s1_6_2 & {
		top: 22.3%;
		left: 66.5%;
	}

	#s1_6_3 & {
		top: 38.5%;
		left: -0.5%;
	}

	#s1_6_4 & {
		top: 63.4%;
		left: -0.5%;
	}

	#s1_6_5 & {
		top: 49.2%;
		left: -0.5%;
	}

	#s1_6_6 & {
		top: 36.1%;
		left: -0.5%;
	}

	#s1_6_7 & {
		top: 59.5%;
		left: -0.5%;
	}

	#s1_7 & {
		top: 42.4%;
		left: -0.5%;
	}

	#s1_8 & {
		top: 42.4%;
		left: -0.5%;
	}

	#s1_9_1 & {
		top: 47.5%;
		left: -0.5%;
	}

	#s1_9_2 & {
		top: 50%;
		left: -0.5%;
	}

	#s1_10 & {
		top: 21%;
		left: -0.5%;
	}

	// slider_polkadot_js_plugin

	#s2_2 & {
		top: 11.85%;
		left: 95.5%;
	}

	#s2_3 & {
		top: 23.9%;
		left: -0.5%;
	}

	#s2_4 & {
		top: 38.85%;
		left: -0.5%;
	}

	#s2_5 & {
		top: 21.5%;
		left: -0.5%;
	}

	#s2_5_2 & {
		top: 21.5%;
		left: -0.5%;
	}

	#s2_5_3 & {
		top: 33%;
		left: -0.5%;
	}

	#s2_6 & {
		top: 43.7%;
		left: -0.5%;
	}

	#s2_7 & {
		top: 64.5%;
		left: -0.5%;
	}

	#s2_8 & {
		top: 76.2%;
		left: -0.5%;
	}

	#s2_9 & {
		top: 5.2%;
		right: -1rem;
	}

	#s2_10 & {
		top: 15.2%;
		left: -0.5%;
	}

	#s2_11 & {
		top: 30.35%;
		left: -0.5%;
	}

	#s2_12 & {
		top: 16.8%;
		right: -1rem;
	}

	#s2_13 & {
		top: 26.7%;
		left: 17.5%;
	}

	#s2_14 & {
		top: 26.7%;
		left: 17.5%;
	}

	// subkey

	#s3_1 & {
		top: 18.1%;
		left: -0.5%;
	}

	// slider polkadot js

	#s4_1 & {
		top: 19.9%;
		left: -0.5%;
	}

	#s4_2 & {
		top: 16.4%;
		left: 60.5%;
	}

	#s4_3 & {
		top: 29.5%;
		left: -0.5%;
	}

	#s4_4 & {
		top: 51.4%;
		left: -0.5%;
	}

	#s4_5 & {
		top: 43.9%;
		right: -1rem;
	}

	// slider mycrypto

	#sA_3 & {
		top: 28.9%;
		left: 16.5%;
	}

	#sA_4 & {
		top: 51.9%;
		left: 18.5%;
	}

	#sA_5 & {
		top: 28.9%;
		left: 58.5%;
	}

	#sA_6 & {
		top: 81.6%;
		left: 18.5%;
	}

	#sA_7 & {
		top: 33.4%;
		left: 18.5%;
	}

	#sA_8 & {
		top: 46.6%;
		left: 18.5%;
	}
}

@keyframes pulsing-dot {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}
	50% {
		transform: translate(-50%, -50%) scale(1.5);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}
