html,
body {
	background: white;
}

body.freeze-page .page-wrapper {
	@media only screen and (min-width: 992px) {
		height: 100vh;
		overflow: auto;
	}

	&::before {
		content: none;
	}
}

main.page-wrapper {
	background: transparent;

	@media (min-width: 768px) {
		padding-top: 90px;
	}

	&:before {
		z-index: 0;
	}
}

.row:before,
.row:after {
	display: inline-block;
}

footer {
	position: relative;
}
