.tns-fadeIn,
.tns-fadeOut {
	transition: none !important;
}

.slider {
	padding-top: 6rem;
	min-height: 30vh;
	visibility: hidden;
}

.tns-outer .slider {
	visibility: visible;
	height: auto;
}

.sliderA {
	min-height: 30vh;
	visibility: hidden;
}

.tns-outer .sliderA {
	visibility: visible;
	height: auto;
}

.slider-step {
	position: absolute;
	top: -1.5rem;
	display: none;
}

.tns-outer {
	position: relative;
}

.tns-inner {
	position: relative;
	z-index: 1001;
}

.tns-controls {
	outline: 0 !important;
	padding-bottom: 0.2rem;
	padding-bottom: 2rem;
	text-align: right;
	position: absolute;
	top: -4.7rem;
	right: -1rem;
	z-index: 1000;

	@media (max-width: 767px) {
		right: 0;
	}

	& > button {
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		text-indent: -99999px;
		border: none;
		background: no-repeat center center;
		background-color: $secondary-darker;
		transition: transform 0.2s ease-in-out;

		&:not([disabled]):hover {
			background-color: #42484d;
			transform: scale(1.05);
		}

		&[disabled] {
			opacity: 0;
			visibility: hidden;
			background-color: transparent !important;
		}
	}

	button[data-controls="prev"] {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%23fff' d='M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z'/%3E%3C/svg%3E%0A");
		transition: background-color 0.2s ease-in-out;
	}

	button[data-controls="next"] {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%23fff' d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z'/%3E%3C/svg%3E%0A");
		margin-left: 0.5rem;
		background-color: $primary;

		&:hover {
			background-color: $primary;
		}
	}
}

.slider-arrow-down {
	position: absolute;
	top: -4.7rem;
	right: -1rem;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	border: none;
	background: $primary;
	transition: all 0.2s ease-in-out, background-color 0.1s ease-in-out,
		bottom 0.4s ease-in-out;
	text-align: center;

	@media (max-width: 767px) {
		right: 0;
	}

	i {
		line-height: 3rem;
		color: white;
	}

	&:hover {
		background-color: $primary;
		transform: scale(1.05);
	}

	display: none;

	&--ethereum {
		top: auto;
		bottom: 0;
		right: 0.75rem;
		display: block;
		opacity: 0;

		.verified & {
			opacity: 1;
			bottom: 2.25rem;
		}
	}
}

.tns-item {
	position: relative;
	z-index: 0;
}

.tns-item.tns-slide-active {
	z-index: 1;
}

.tns-slide-active > .slider-arrow-down {
	display: block;
}

.tns-nav {
	position: absolute;
	display: inline-block;
	top: -4.2rem;
	left: 0;

	button {
		border: none;
		background: none;
		position: relative;
		padding: 5px;

		&:after {
			content: "";
			width: 4px;
			height: 4px;
			border-radius: 50%;
			position: absolute;
			left: 2px;
			top: 2px;
			background: #42484d;
			opacity: 1;
			transform: scale(1);
			transition: all 0.2s ease-in-out;
		}

		&:hover {
			&:after {
				transform: scale(1.4);
				background: white;
				opacity: 1;
			}
		}

		&.tns-nav-active {
			&:after {
				background: white;
				opacity: 1;
				transform: scale(1.4);
			}
		}

		&:active,
		&:focus {
			outline: 0;
		}
	}
}

.slider-img-wrapper {
	max-width: 100%;
	padding-top: 10px;
}

.slider-img {
	position: relative;

	@media (max-width: 767px) {
		margin: 2rem;
	}

	img {
		max-width: none;
		width: 100%;

		&.loaded.tns-complete {
			box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
		}
	}
}

.slider-max {
	@media (min-width: 992px) {
		max-width: 360px;
		margin: 0 auto;
	}
}

#s2_1,
#s4_0 {
	img {
		max-width: 200px;
	}
}

#sA_1 {
	img {
		max-width: 340px;
	}
}
