<ul id="faq" class="list-group accordion">
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-1">
				<span class="mb-0 text-primary py-1 font-weight-bold">Is there a deadline to claim? What happens if I miss
					it?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-1" class="collapse accordion-panel">
			<div class="py-1">
				<p>
					The deadline will be when Polkadot’s main network launches. We cannot at this time promise an exact date, but we expect the claims process will remain live for several weeks.
				</p>
				<p>
					If you miss the deadline, there will be a separate claims process (<a href="https://polkadot.js.org/apps/#/claims)" target="_blank" rel="noopener noreferrer">similar to the current Kusama claims process</a>) to claim your DOTs. You will gain access to your DOTs very shortly thereafter (most likely within a minute). This process will also work indefinitely after the launch of Polkadot’s main network and beyond the genesis block.
				</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-2">
				<span class="mb-0 text-primary py-1 font-weight-bold">Why do I need to claim?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-2" class="collapse accordion-panel">
			<div class="py-1">
				<p>
					If you have already purchased DOTs, you do not yet have access to or the ability to transfer them. You have the “right” to a certain number of DOTs. The claims process exists to transform that right &mdash; your allocation indicator tokens on Ethereum &mdash; into a DOT allocation inscribed in the Polkadot genesis block. This process will ensure that your DOT balance is live on Polkadot once the Polkadot main network is live.
				</p>
				<p>
					As part of this claims process you first need to create a Polkadot address, and then prove that you are both the owner of the Ethereum address and the owner of the Polkadot address. After proving that you have access to the DOT allocation linked to the Ethereum address, the correct number of DOTs will be allocated to your address on the Polkadot blockchain.
				</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-3">
				<span class="mb-0 text-primary py-1 font-weight-bold">How do I see if I have any DOTs allocated to my
					address?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-3" class="collapse accordion-panel">
			<div class="py-1">
				<p>
					Enter your Ethereum address <a href="#verify-ethereum-address">here</a>.
				</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-5">
				<span class="mb-0 text-primary py-1 font-weight-bold">How do I get a Polkadot address?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-5" class="collapse accordion-panel">
			<div class="py-1">
				<p>
					There are a variety of ways to generate Polkadot addresses, with different levels of security, convenience, and other tradeoffs. <a href="#generate-polkadot-address-guide">They are listed here</a>.
				</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-6">
				<span class="mb-0 text-primary py-1 font-weight-bold">How quickly will I get my DOTs?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-6" class="collapse accordion-panel">
			<div class="py-1">
				<p>
					If you participate in the claims process before the Polkadot main network is live, your DOT allocation will be denoted in Polakdot's genesis block. This means that you will have access to your DOTs once the Polkadot blockchain launches and the on-chain governance mechanism votes to enable tokens transfers.
				</p>
				<p>
					If you claim the DOTs using the alternative claims process after launch, then you will receive access to your DOT allocation shortly after submitting your claim. This process should take less than a minute.
				</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-7">
				<span class="mb-0 text-primary py-1 font-weight-bold">How do I know my claim worked?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-7" class="collapse accordion-panel">
			<div class="py-1">
				<p>
					After you <a href="#claim-verify">verify your claim</a>, the screen will indicate the success or failure of the claim. Once the Polkadot mainnet is running, you can use <a href="https://polkadot.js.org/apps/#/accounts" target="_blank" rel="noopener noreferrer">polkadot.js.org/apps/#/accounts</a> to verify that your account has the correct number of DOTs.
				</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-8">
				<span class="mb-0 text-primary py-1 font-weight-bold">Can I claim Kusama tokens?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-8" class="collapse accordion-panel">
			<div class="py-1">
				<p>
					Please check the <a href="https://guide.kusama.network/en/latest/start/claims/" target="_blank" rel="noopener noreferrer">Kusama claims page</a> to check your allocation of kusamas for detailed instructions.
				</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-9">
				<span class="mb-0 text-primary py-1 font-weight-bold">Do I need to claim again if I already claimed for Kusama?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-9" class="collapse accordion-panel">
			<div class="py-1">
				<p>
					Yes. Kusama is a completely separate network from Polkadot so any claims for KSMs do not apply to Polkadot or DOTs. If you already made a claim for KSMs, please make a new claim for DOTs.
				</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-10">
				<span class="mb-0 text-primary py-1 font-weight-bold">Can I claim my DOTs using a third party?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-10" class="collapse accordion-panel">
			<div class="py-1">
				<p>
					We do not recommend using third-party applications or processes to claim your DOTs, other than those explicitly named here (e.g. Coinbase Custody). Please don't hesitate to contact <a href="mailto:dots@polkadot.network" target="_blank" rel="noopener noreferrer">dots@polkadot.network</a> with any questions.
				</p>
				<p>
					Making a claim using a third-party process can lead to the loss of your allocation, therefore we cannot recommend using any third-party applications to do so. Manually specifying your transaction data, as detailed in our claims process, is the only way to be certain you will receive your allocation.
				</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-11">
				<span class="mb-0 text-primary py-1 font-weight-bold">What can I do with my claimed DOTs?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-11" class="collapse accordion-panel">
			<div class="py-1">
				<p>
					Initially, functionality will be restricted to the Staking, Session, and Claims modules. After you have claimed your DOTs, you will be able to bond your DOTs, nominate validators, and signal your own intention to validate.
				</p>
				<p>
					After enough potential validators signal their intention to validate and Web3 Foundation deems the network stable, a runtime upgrade will transition Polkadot to its decentralized, nominated proof-of-stake protocol. Once the network is running stable with NPoS, a series of runtime upgrades will unlock the remaining functionality like governance, parachain auctions, and token transfers.
				</p>
			</div>
		</div>
	</li>
</ul>
