<ul id="faq" class="list-group accordion">
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-1">
				<span class="mb-0 text-primary py-1 font-weight-bold">Why do I need to claim and is there a deadline?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-1" class="collapse accordion-panel">
			<div class="py-1">
				<p>When you made your initial purchase, you obtained the “right” to a certain number of DOTs. However you did not yet have access to or the ability to transfer them, since the network was not live yet. The claims process exists to transform that right — your Allocation Indicator tokens on Ethereum — into actual DOTs on the Polkadot blockchain.</p>
				<p>As part of this claims process you first need to create a Polkadot address, and then prove that you are both the owner of the Ethereum address and the owner of the Polkadot address. After proving that you have access to the DOT allocation linked to the Ethereum address, the correct number of DOTs will be allocated to your address on the Polkadot blockchain.</p>
				<p>There is no deadline to claim. Now that the Polkadot network is live, the claiming process will work indefinitely.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-2">
				<span class="mb-0 text-primary py-1 font-weight-bold">I already claimed my DOTs. Where can I see my balance?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-2" class="collapse accordion-panel">
			<div class="py-1">
				<p>You can view your balance at <a href="https://polkadot.js.org/apps/#/accounts" target="_blank" rel="noopener noreferrer">https://polkadot.js.org/apps/#/accounts</a> (make sure the network is switched to Polkadot live). You may need to enter your account address before you can see it.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-3">
				<span class="mb-0 text-primary py-1 font-weight-bold">I claimed my DOTs before Polkadot went live, but still see zero balance!</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-3" class="collapse accordion-panel">
			<div class="py-1">
				<p>There's one more step that has been added since you claimed your tokens, which is the attestation. Since you already claimed, you only need to do this one step in order to see your balance: <a href="#statement-attest" class="jsSliderGoToA jsGoToAnchor" data-slider="2" data-anchor="#statement-attest">Make the attestation</a>.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-4">
				<span class="mb-0 text-primary py-1 font-weight-bold">Can I claim my DOTs using a third party?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-4" class="collapse accordion-panel">
			<div class="py-1">
				<p>We do not recommend using third-party applications or processes to claim your DOTs, other than those explicitly named here (e.g. Coinbase Custody).</p>
				<p>Making a claim using a third-party process can lead to the loss of your allocation, therefore we cannot recommend using any third-party applications to do so. Manually claiming and attesting, as detailed in our claims process, is the only way to be certain you will receive your allocation.</p>
				<p>Please don't hesitate to contact us at <a href="mailto:support@polkadot.network" target="_blank" rel="noopener noreferrer">support@polkadot.network</a> with any questions.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-5">
				<span class="mb-0 text-primary py-1 font-weight-bold">Can I claim my DOTs to two different Polkadot addresses?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-5" class="collapse accordion-panel">
			<div class="py-1">
				<p>No – one Ethereum address can map to only one Polkadot address.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-6">
				<span class="mb-0 text-primary py-1 font-weight-bold">Can I claim multiple Ethereum accounts to one single Polkadot address?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-6" class="collapse accordion-panel">
			<div class="py-1">
				<p>Yes. Just follow the same procedure for each Ethereum account, always sending the transaction to the same Polkadot address.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-7">
				<span class="mb-0 text-primary py-1 font-weight-bold">When can I sell or transfer my DOTs?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-7" class="collapse accordion-panel">
			<div class="py-1">
				<p>Transferability of DOTs doesn't happen until after sudo is removed and governance enabled. You can review the different phases here: <a href="https://polkadot.network/launch-roadmap" target="_blank" rel="noopener noreferrer">https://polkadot.network/launch-roadmap</a></p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-8">
				<span class="mb-0 text-primary py-1 font-weight-bold">Once I claim my DOTs, can I start staking them?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-8" class="collapse accordion-panel">
			<div class="py-1">
				<p>Yes, you can begin staking them, however <a href="https://wiki.polkadot.network/docs/en/learn-staking#__docusaurus" target="_blank" rel="noopener noreferrer">staking</a> rewards will only begin after the PoA phase and Sudo Key is removed. </p>
				<p>What you can do during the PoA phase is signal your intent to validate on Polkadot if you’re intending to be a validator.</p>
				<p>Once enough validators signal their intention to validate, Polkadot can move to the next <a href="https://polkadot.network/launch-roadmap/" target="_blank" rel="noopener noreferrer">phase</a>.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-9">
				<span class="mb-0 text-primary py-1 font-weight-bold">In the future, will I still be able to view my account on Polkadot via Ethereum?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-9" class="collapse accordion-panel">
			<div class="py-1">
				<p>No. The Ethereum network was just used as a placeholder for your allocation. Now that the Polkadot network is live, you can use the Polkadot extension or other Polkadot tools to view your account information.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-10">
				<span class="mb-0 text-primary py-1 font-weight-bold">I bought an IOU for DOTs from somebody else and now I can’t contact them / they are not giving them to me.</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-10" class="collapse accordion-panel">
			<div class="py-1">
				<p>Unfortunately, there is nothing we can do. We only have a legal agreement with the person who bought the DOTs.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-11">
				<span class="mb-0 text-primary py-1 font-weight-bold">How do I see if I have any DOTs allocated to my Ethereum address?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-11" class="collapse accordion-panel">
			<div class="py-1">
				<p>Enter your Ethereum address <a href="https://claims.polkadot.network/#verify-ethereum-address" target="_blank" rel="noopener noreferrer">here</a>.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-12">
				<span class="mb-0 text-primary py-1 font-weight-bold">How do I get a Polkadot address?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-12" class="collapse accordion-panel">
			<div class="py-1">
				<p>There are a variety of ways to generate Polkadot addresses, with different levels of security, convenience, and other tradeoffs. <a href="https://claims.polkadot.network/#generate-polkadot-address-guide" target="_blank" rel="noopener noreferrer">They are listed here.</a></p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-13">
				<span class="mb-0 text-primary py-1 font-weight-bold">How quickly will I get my DOTs?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-13" class="collapse accordion-panel">
			<div class="py-1">
				<p>You will receive access to your DOTs shortly after submitting your claim. This process should take less than a minute.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-14">
				<span class="mb-0 text-primary py-1 font-weight-bold">How do I know my claim worked?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-14" class="collapse accordion-panel">
			<div class="py-1">
				<p>After you <a href="#claim-verify">verify your claim</a>, the screen will indicate the success or failure of the claim. You can use <a href="https://polkadot.js.org/apps/#/accounts" target="_blank" rel="noopener noreferrer">polkadot.js.org/apps/#/accounts</a> to verify that your account has the correct number of DOTs.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-15">
				<span class="mb-0 text-primary py-1 font-weight-bold">Can I claim Kusama tokens?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-15" class="collapse accordion-panel">
			<div class="py-1">
				<p>Please check the <a href="https://wiki.polkadot.network/docs/en/kusama-claims" target="_blank" rel="noopener noreferrer">Kusama claims page</a> to check your allocation of kusama tokens for detailed instructions.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-16">
				<span class="mb-0 text-primary py-1 font-weight-bold">Can I use the same Polkadot public key for both my Polkadot and Kusama accounts?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-16" class="collapse accordion-panel">
			<div class="py-1">
				<p>You can use the same Polkadot key to claim your Kusamas, but we recommend you generate a new address for each network. It is possible to convert the same address from Polkadot to Kusama (and thus use the same public key on both networks). However, this is not recommended as it can get confusing.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-17">
				<span class="mb-0 text-primary py-1 font-weight-bold">Do I need to claim again if I already claimed for Kusama?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-17" class="collapse accordion-panel">
			<div class="py-1">
				<p>Yes. Kusama is a completely separate network from Polkadot so any claims for KSMs do not apply to Polkadot or DOTs. If you already made a claim for KSMs, please make a new claim for DOTs.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-18">
				<span class="mb-0 text-primary py-1 font-weight-bold">What can I do with my claimed DOTs?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-18" class="collapse accordion-panel">
			<div class="py-1">
				<p>Initially, functionality will be restricted to the Staking, Session, and Claims modules. After you have claimed your DOTs, you will be able to bond your DOTs, nominate validators, and signal your own intention to validate.</p>
				<p>After enough potential validators signal their intention to validate and Web3 Foundation deems the network stable, a runtime upgrade will transition Polkadot to its decentralized, nominated proof-of-stake protocol. Once the network is considered stable with NPoS, a series of runtime upgrades will unlock the remaining functionality like governance, parachain auctions, and token transfers.</p>
				<p>Please refer to the launch road map for more details: <a href="https://polkadot.network/launch-roadmap/" target="_blank" rel="noopener noreferrer">https://polkadot.network/launch-roadmap/</a></p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-19">
				<span class="mb-0 text-primary py-1 font-weight-bold">My address starts with “5” or a capital letter, not “1” as it should.</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-19" class="collapse accordion-panel">
			<div class="py-1">
				<p>An address starting with “5” or a capital letter indicates that your account is using a Substrate (5) or Kusama (capital letter) address.</p>
				<p>To get the correct address prefix for your account, go to polkadot.js.org, and click on “Polkadot/Substrate Apps” (top right). On this page, click on the Settings tab in the left column, change to Polkadot (live) and click on the “Save and Reload” button. When completed, check the “Accounts” setting in the left column. The address should now be in the correct format.</p>
				<p>If you used the polkadot.js browser extension, click on the gear icon in the upper-right corner, then for the “Display Address Format For” pulldown, select “Mainnet (Live)”. Your addresses should all be listed in the proper Polkadot format.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-20">
				<span class="mb-0 text-primary py-1 font-weight-bold">I can’t remember how I claimed during the initial sale.</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-20" class="collapse accordion-panel">
			<div class="py-1">
				<p>You’ll find a link to the original Polkadot 10 step ICO Process <a href="https://www.reddit.com/r/polkadot_market/comments/76icbv/the_polkadot_10_step_ico_process/" target="_blank" rel="noopener noreferrer">here.</a></p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-21">
				<span class="mb-0 text-primary py-1 font-weight-bold">My seed words don’t work or generate a different Ethereum address.</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-21" class="collapse accordion-panel">
			<div class="py-1">
				<p>It may be that you are still using the seed words from an older style of wallet. </p>
				<p>If you used MyEtherWallet, you can follow the instructions <a href="https://gochainwallet.github.io/knowledge-base/private-keys-passwords/parity-phrases-are-no-longer-supported.html" target="_blank" rel="noopener noreferrer">here</a></p>
				<p>Alternatively, contact us at <a href="mailto:support@polkadot.network" target="_blank" rel="noopener noreferrer">support@polkadot.network</a></p>
			</div>
		</div>
	</li>
</ul>
