<ul id="faq" class="list-group accordion">
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-1">
				<span class="mb-0 text-primary py-1 font-weight-bold">Why do I need to claim and is there a deadline?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-1" class="collapse accordion-panel">
			<div class="py-1">
				<p>When you made your initial purchase, you obtained the “right” to a certain number of DOTs. However you did not yet have access to or the ability to transfer them, since the network was not live yet. The claims process exists to transform that right — your Allocation Indicator tokens on Ethereum — into actual DOTs on the Polkadot blockchain.</p>
				<p>As part of this claims process you first need to create a Polkadot address, and then prove that you are both the owner of the Ethereum address and the owner of the Polkadot address. After proving that you have access to the DOT allocation linked to the Ethereum address, the correct number of DOTs will be allocated to your address on the Polkadot blockchain.</p>
				<p>There is no deadline to claim. Now that the Polkadot network is live, the claiming process will work indefinitely.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-2">
				<span class="mb-0 text-primary py-1 font-weight-bold">I already claimed my DOTs. Where can I see my balance?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-2" class="collapse accordion-panel">
			<div class="py-1">
				<p>You can view your balance at <a href="https://polkadot.js.org/apps/#/accounts" target="_blank" rel="noopener noreferrer">https://polkadot.js.org/apps/#/accounts</a> (make sure the network is switched to Polkadot live). You may need to enter your account address before you can see it.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-3">
				<span class="mb-0 text-primary py-1 font-weight-bold">I claimed my DOTs before Polkadot went live, but still see zero balance!</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-3" class="collapse accordion-panel">
			<div class="py-1">
				<p>There's one more step that has been added since you claimed your tokens, which is the attestation. Since you already claimed, you only need to do this one step in order to see your balance: <a href="#statement-attest" class="jsSliderGoToA jsGoToAnchor" data-slider="2" data-anchor="#statement-attest">Make the attestation</a>.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-4">
				<span class="mb-0 text-primary py-1 font-weight-bold">Can I claim my DOTs using a third party?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-4" class="collapse accordion-panel">
			<div class="py-1">
				<p>We do not recommend using third-party applications or processes to claim your DOTs, other than those explicitly named here (e.g. Coinbase Custody).</p>
				<p>Making a claim using a third-party process can lead to the loss of your allocation, therefore we cannot recommend using any third-party applications to do so. Manually claiming and attesting, as detailed in our claims process, is the only way to be certain you will receive your allocation.</p>
				<p>Please don't hesitate to contact us at <a href="mailto:support@polkadot.network" target="_blank" rel="noopener noreferrer">support@polkadot.network</a> with any questions.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-5">
				<span class="mb-0 text-primary py-1 font-weight-bold">Can I claim my DOTs to two different Polkadot addresses?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-5" class="collapse accordion-panel">
			<div class="py-1">
				<p>No – one Ethereum address can map to only one Polkadot address.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-6">
				<span class="mb-0 text-primary py-1 font-weight-bold">Can I claim multiple Ethereum accounts to one single Polkadot address?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-6" class="collapse accordion-panel">
			<div class="py-1">
				<p>Yes. Just follow the same procedure for each Ethereum account, always sending the transaction to the same Polkadot address.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-7">
				<span class="mb-0 text-primary py-1 font-weight-bold">When can I sell or transfer my DOTs?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-7" class="collapse accordion-panel">
			<div class="py-1">
				<p>Transferability of DOTs doesn't happen until after sudo is removed and governance enabled. You can review the different phases here: <a href="https://polkadot.network/launch-roadmap" target="_blank" rel="noopener noreferrer">https://polkadot.network/launch-roadmap</a></p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-8">
				<span class="mb-0 text-primary py-1 font-weight-bold">Once I claim my DOTs, can I start staking them?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-8" class="collapse accordion-panel">
			<div class="py-1">
				<p>Yes, you can begin staking them immediately.</p>
				<p>What you can do during the PoA phase is signal your intent to validate on Polkadot if you’re intending to be a validator.</p>
				<p>Once enough validators signal their intention to validate, Polkadot can move to the next <a href="https://polkadot.network/launch-roadmap/" target="_blank" rel="noopener noreferrer">phase</a>.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-9">
				<span class="mb-0 text-primary py-1 font-weight-bold">In the future, will I still be able to view my account on Polkadot via Ethereum?</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-9" class="collapse accordion-panel">
			<div class="py-1">
				<p>No. The Ethereum network was just used as a placeholder for your allocation. Now that the Polkadot network is live, you can use the Polkadot extension or other Polkadot tools to view your account information.</p>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="d-flex justify-content-between align-items-center accordion-toggle">
			<a href="#" class="d-flex align-items-center flex-fill" data-toggle="collapse" data-target="#accordion-panel-10">
				<span class="mb-0 text-primary py-1 font-weight-bold">I bought an IOU for DOTs from somebody else and now I can’t contact them / they are not giving them to me.</span>
			</a>
			<i class="material-icons d-block text-dark">keyboard_arrow_right</i>
		</div>
		<div id="accordion-panel-10" class="collapse accordion-panel">
			<div class="py-1">
				<p>Unfortunately, there is nothing we can do. We only have a legal agreement with the person who bought the DOTs.</p>
			</div>
		</div>
	</li>
</ul>
