<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	
	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png" type="image/png">

	{%- seo -%}
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	{%- feed_meta -%}

	<!-- Klaro script – Cookie consent manager -->
	<script defer type="text/javascript" src="/assets/js/config.js"></script>
	<script defer type="text/javascript" src="/assets/js/klaro.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics with Klaro script -->
	<script async type="opt-in" data-type="application/javascript" data-src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}" data-name="googleAnalytics"></script>
	<script type="opt-in" data-type="application/javascript" data-name="googleAnalytics">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '{{ site.google_analytics }}');
	</script>

	<!-- prevent framing -->
	<script src="{{ "/assets/js/prevent.framing.js" | relative_url }}"></script>

</head>
