<div id="nested_inner_parity_signer">

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white">Parity Signer (Air-Gapped)</h2>
				<p>
					Parity Signer is a secure way of storing your DOTs on an air-gapped device. It is highly recommended that you turn off wifi, cellular network, Bluetooth, NFC, and any other communications methods after installing it. If you have any communications methods turned on, you will see an "unshielded" icon in red on the top-right corner that indicates your connection may not be secure.
				</p>
				<p>
					Get more info and download Parity Signer here: <a href="https://www.parity.io/signer/" target="_blank" rel="noopener noreferrer">https://www.parity.io/signer</a>
				</p>
			</div>
			<div class="col-12 col-lg-6 d-flex align-items-center justify-content-center mt-4 mt-lg-0 m	t-lg-0">
				<div id="s1_0" class="slider-img text-center">
					<img class="tns-lazy-img shadow-none" data-src="{{site.baseurl}}/assets/images/slider/parity_signer_01.svg">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Create account</h2>
				<p>
					Click "Create" to create an identity, or "recover" if you have previously backed up the recovery phrase. You can have multiple identities on one device. Each identity can manage multiple addresses on different networks.
				</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper slider-max">
				<div id="s1_1" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/ps-create-1.jpg">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Name Account</h2>
				<p>
					Input the name for your identity and then click "Create".
				</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper slider-max">
				<div id="s1_2" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/ps-create-2.jpg">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Backup Account</h2>
				<p>
					Parity Signer will then generate a recovery phrase for you and display it in the form of 12 or 24 words.
				</p>
				<p>
					You should write down this recovery phrase on paper and store it somewhere safe, secret, and secure. If you cannot access your account via your phone for some reason, you can simply re-enter your recovery phrase on another phone that has Parity Signer installed, and have access to your account once again. This is the only way to recover your account, and anyone who has access to these words will also have access to your account. Therefore, it is a good idea to write them down and store them in multiple secure places!
				</p>
				<p>
					Please see above for information on <a href="https://wiki.polkadot.network/docs/en/learn-account-generation#disclaimer-key-security" target="_blank" rel="noopener noreferrer">storing your key safely</a>.
				</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper slider-max">
				<div id="s1_3" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/ps-create-3.jpg">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Set PIN</h2>
				<p>
					After confirming that you have backed up your seed, a new textbox will appear in which you can set a PIN. The PIN code should contain at least 6 digits. If the PIN codes do not match, it will not allow you to create an account. The PIN code will be used for when signing any transaction, or to protect sensitive operations such as deleting an identity or revealing the recovery phrase.
				</p>
				<p>
					Note that if someone knows the 12/24 words in your recovery phrase, they will still have control over your account, even if they do not know the PIN.
				</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper slider-max">
				<div id="s1_4" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/ps-create-4.jpg">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Get Address</h2>
				<p>
					Choose which network you would like to create an address on by clicking the name of the network. For example, if you select "Polkadot", a new Polkadot address will be created for you under this identity.
				</p>
				<p>
					Note that if someone knows the 12/24 words in your recovery phrase, they will still have control over your account, even if they do not know the PIN.
				</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper slider-max">
				<div id="s1_5" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/ps-create-5.jpg">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Your Address</h2>
				<p>
					The address will be shown as a QR code. You can import your address to the PolkadotJS Apps by going to the <a href="https://polkadot.js.org/apps/#/accounts" target="_blank" rel="noreferrer noopener">Accounts</a> page on an Internet-connected computer and click "Add via QR", and following the instructions to add the account. An account created this way will always require you to sign messages with your Parity Signer device. It will do this only by scanning and displaying QR codes, leaving even someone with total control of your internet-connected computer a very small and limited scope for interacting with the Parity Signer device, which can continue to keep your key safe.
				</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper slider-max">
				<div id="s1_6" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/ps-create-6.jpg">
					<div class="dot"></div>
				</div>
			</div>
		</div>
		<a href="#claim" class="slider-arrow-down"><i class="material-icons">arrow_downward</i></a>
	</div>

</div>
