<div id="nested_inner_attest">
	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">What you will need</h2>
				<p>
					Your Polkadot account unlocked on Polkadot-JS Apps UI.
				</p>
				<p>
					You will be sending a free transaction from your Polkadot account. Once you make this transaction you will see your DOT token balance in your account.
				</p>
			</div>
			<div class="col-12 col-lg-6 d-flex align-items-center justify-content-center mt-4 mt-lg-0">
				<div id="s4_0" class="slider-img text-center">
					<img class="tns-lazy-img shadow-none" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_01.png">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<h2 class="col-12 text-white mb-3">Verifying your claim</h2>
			<div class="col-12 col-lg-6 pr-lg-4">
				<p>
					Content
				</p>
			</div>
			<div class="col-12 col-lg-6 pr-lg-4">
			</div>
		</div>
		<a href="#claim-verify" class="slider-arrow-down"><i class="material-icons">arrow_downward</i></a>
	</div>
</div>
