<div id="nested_inner_mycrypto">
	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Claim with MyCrypto</h2>
				<p>
					These instructions will help you send a transaction from MyCrypto to claim your DOTs. MyCrypto is a flexible
					and secure Ethereum wallet that allows you to send a transaction from your Ethereum account and supports many
					different key storage formats.
				</p>
			</div>
			<div class="col-12 col-lg-6 d-flex align-items-center justify-content-center mt-4 mt-lg-0">
				<div id="sA_1" class="slider-img">
					<img class="tns-lazy-img shadow-none" data-src="{{site.baseurl}}/assets/images/logo-mycrypto.svg" />
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Install MyCrypto</h2>
				<p>
					It is strongly recommended to download and use the MyCrypto application locally. For some types of key
					storage formats this is the only option. Downloading the application locally allows you to perform the
					signing steps offline if preferred.
				</p>
				<p>
					Ensure that you download the official program from MyCrypto official sources. You can always find the most
					up-to-date releases of the desktop app on their <a href="https://github.com/MyCryptoHQ/MyCrypto/releases" target="_blank" rel="noopener noreferrer">releases
						page</a>. Choose the one that matches
					your operating system architecture.
				</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/MyCrypto2_06.png">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<h2 class="col-12 text-white mb-3">Verifying your claim</h2>
			<div class="col-12 col-lg-6 pr-lg-4">
				<p>
					Content
				</p>
			</div>
			<div class="col-12 col-lg-6 pr-lg-4">
			</div>
		</div>
		<a href="#claim-verify" class="slider-arrow-down"><i class="material-icons">arrow_downward</i></a>
	</div>
</div>
