<div id="nested_inner_mycrypto">
	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Claim and attest my DOTs</h2>
				<p>
					These instructions will help you send a transaction from MyCrypto to claim your DOTs. MyCrypto is a flexible
					and secure Ethereum wallet that allows you to send a transaction from your Ethereum account and supports many
					different key storage formats.
				</p>
				<p>
					Click on the pink arrow to find the step-by-step instructions.
				</p>
			</div>
			<div class="col-12 col-lg-6 d-flex align-items-center justify-content-center mt-4 mt-lg-0">
				<div id="sA_1" class="slider-img">
					<img class="tns-lazy-img shadow-none" data-src="{{site.baseurl}}/assets/images/logo-mycrypto.svg" />
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12">
				<h2 class="text-white mb-3">Download MyCrypto</h2>
			</div>
			<div class="col-12 col-lg-6 pr-lg-5">
				<p><a href="https://download.mycrypto.com/" target="_blank" rel="noopener noreferrer">MyCrypto</a> is a versatile wallet that supports a variety of storage methods for your Ethereum account.</p>
				<p>It is a good choice in case you have stored the key to the Ethereum account holding your DOT indicator tokens on a hardware device like a Ledger Nano S. It also supports raw private keys, mnemonics, and Parity signer.</p>
				<p>Go to their downloads page and ensure that you download the latest version for your operating system. This is important because the latest version will always have the latest security patches.</p>
			</div>
			<div class="col-12 col-lg-6">
				<p class="alert alert-primary" role="alert">
					It is much more secure to download and use the MyCrypto app locally (we recommend an air-gapped computer for maximum security). You can always find the most up-to-date releases of the desktop app on their <a href="https://github.com/MyCryptoHQ/MyCrypto/releases" target="_blank" rel="noopener noreferrer">releases page</a>.
				</p>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Open the polkadot.js claims app</h2>
				<p>The polkadot.js <a href="https://polkadot.js.org/apps/#/claims" target="_blank" rel="noopener noreferrer">Claims app</a> helps you sign a message from MyCrypto.</p>
				<p>Once you've downloaded MyCrypto and have it running locally, you can start by navigating to the Claims app on polkadot.js Apps.</p>
				<p>Select the account you would like to claim the DOTs into and click the blue "Continue" button to proceed.</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div id="sA_1_3" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/MyCrypto2_01.png">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Select your Ethereum Address</h2>
				<p>Now you will need to provide the Ethereum address that is associated with the DOT indicator tokens that you will claim.</p>
				<p>Enter the Ethereum address into the box and click "Continue".</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div id="sA_1_4" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/MyCrypto2_02.png">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Attesting to the statement</h2>
				<p>You should now see the screen with the statement that you’re going to sign in the next step. </p>
				<p>Review the statement and follow the copy/paste instructions.</p>
				<p>The hex-encoded string that follows the sentence: "Pay DOTs to the Polkadot account:" is the hex-encoded public key of your Polkadot account, minus the <code>0x</code> prefix.</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div id="sA_1_5" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/MyCrypto2_03.png">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Open MyCrypto</h2>
				<p>The next step is to go to the MyCrypto application and click on "Sign & Verify Message" tab.</p>
				<p>This will prompt you to select a method for unlocking your wallet.</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div id="sA_1_6" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/MyCrypto2_06.png">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Signing the message in MyCrypto</h2>
				<p>After unlocking your wallet, paste the message you just copied from polkadot.js into the "Message" box. Then click “Sign Message”.</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div id="sA_1_7" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/MyCrypto2_07.png">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Copy the JSON output</h2>
				<p>This will generate your signature as a JSON output in a box underneath.</p>
				<p>Copy the complete content of the signature box and go back to the polkadot.js <a href="https://polkadot.js.org/apps/#/claims" target="_blank" rel="noopener noreferrer">Claims app</a>.</p>

			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div id="sA_1_8" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/MyCrypto2_08.png">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Paste the JSON output</h2>
				<p>Paste the JSON output of the signed message from MyCrypto into the input box in the polkadot.js Claims app and click "Confirm Claim."</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div id="sA_1_9" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/MyCrypto2_04.png">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Issuing the claim transaction</h2>
				<p>You will now see a green message displaying the amount of DOTs to claim from your Ethereum account.</p>
				<p>Click on the "Claim" button inside that green message box.</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div id="sA_1_10" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/MyCrypto2_05.png">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Authorize transaction</h2>
				<p>This will bring up a pop-up message that asks you to authorize this transaction.</p>
				<p>Click on "Submit (no signature)" to complete the claim.</p>
				<p>CONGRATULATIONS, you have successfully claimed your DOTs!</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div id="sA_1_11" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/MyCrypto2_09.png">
					<div class="dot"></div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Viewing your claim</h2>
				<p>You can now check your DOT balance in your Polkadot account.</p>
				<p>Having trouble? Get support in the DOT <a href="https://riot.im/app/#/room/!kwIkVteRpPRjjTyvTe:web3.foundation?via=web3.foundation&via=matrix.org&via=matrix.parity.io" target="_blank" rel="noopener noreferrer">Claims Support</a> channel or email our <a href="http://support@polkadot.network" target="_blank" rel="noopener noreferrer">Support Desk</a>.</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div id="sA_1_12" class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/MyCrypto2_10.png">
					<div class="dot"></div>
				</div>
			</div>
		</div>
		<a href="#claim-verify" class="slider-arrow-down"><i class="material-icons">arrow_downward</i></a>
	</div>

</div>
