<div class="row mb-5">
	<div class="col-12">
		<h2 class="text-white mb-3">Coinbase</h2>
	</div>
	<div class="col-12 col-lg-6 pr-lg-5">
		<ol class="m-0 p-0 mb-2" style="list-style: decimal inside;">
			<li class="mb-2">
				To open an account please contact Coinbase directly at <a href="mailto:sales@coinbase.com" target="_blank"
					rel="noopener noreferrer">sales@coinbase.com</a>
			</li>
			<li class="mb-2">
				Once you’ve opened an account, Coinbase Custody will generate a dot address for you to use in the
				claims process and send it to you.
			</li>
			<li class="mb-2">
				You may then claim your tokens using your Coinbase Custody dot address and your tokens will appear in your
				Coinbase Custody account.
			</li>
		</ol>
		<p class="small text-secondary">
			For questions about claiming with Coinbase, please contact: Nick de Bontin +1-630-884-8182 <a
				href="mailto:sales@coinbase.com" target="_blank" rel="noopener noreferrer">sales@coinbase.com</a>.
		</p>
	</div>
	<div class="col-12 col-lg-6">
		<p class="alert alert-primary" role="alert">
			Please note that using Coinbase for the claims process requires your account to contain at least 1,000 dots. There
			are also fees associated with Coinbase Custody. If you have fewer than this number, please use a different way of
			generating a Polkadot address.
		</p>
		<div id="s5_1" class="slider-img text-center mt-4">
			<img class="tns-lazy-img shadow-none" data-src="{{site.baseurl}}/assets/images/slider/coinbase_01.png">
		</div>
	</div>
</div>
