<div id="nested_inner_attest">
	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Attesting to a statement</h2>
				<p>
					Since you already claimed your DOTS before Polkadot went live, you only need to do this one step in order to finalize your claim.
				</p>
				<p>
					Click on the pink arrow to find the step-by-step instructions.
				</p>
			</div>
			<div class="col-12 col-lg-6 d-flex align-items-center justify-content-center mt-4 mt-lg-0">
				<div id="s4_0" class="slider-img text-center">
					<img class="tns-lazy-img shadow-none" data-src="{{site.baseurl}}/assets/images/slider/polkadot_plugin_js_01.png">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Open polkadot.js apps</h2>
				<p>Proceed to <a href="https://polkadot.js.org/apps/#/claims" target="_blank" rel="noopener noreferrer">polkadot.js Apps</a>. You will need to grant Apps access to your account in some way. One way would be to go to the Accounts page and "create" a new account, replacing the generated seed or mnemonic with the one belonging to your account.</p>
				<p>The other way is by using the polkadot.js extension and entering your seed or mnemonic there, which is generally safer than entering it directly to the Apps page.</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/Attestation_01.png">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Making the attestation</h2>
				<p>After entering your account, you should see a red counter appear on the "Claim Tokens" tab on the left navigation drawer.</p>
				<p>Click on the "Claim Tokens" tab and you will see a large notification at the top of the page that tells you that you need to sign an attestation.</p>
				<p>The notification will display one or more Polkadot addresses that you have loaded in polkadot.js that you need to sign.</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/Attestation_01.png">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Select your Polkadot account</h2>
				<p>Select a Polkadot account with a claim using the drop down selection.</p>
				<p>If you don't see a notification or don't see the selector, please double check that the account has been loaded into polkadot.js and that it has already been claimed during the pre-claim period. </p>
				<p>As always, feel free to reach out for help in the <a href="https://riot.im/app/#/room/!kwIkVteRpPRjjTyvTe:web3.foundation?via=web3.foundation&via=matrix.org&via=matrix.parity.io" target="_blank" rel="noopener noreferrer">Claims Support</a> channel.</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/Attestation_02.png">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Sign the statement</h2>
				<p>Once you selected your account, click "Continue" and you will see a green box appear on the right, which contains the statement to sign.</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/Attestation_02.png">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Read and agree</h2>
				<p>After reading through it, please click “I agree”.</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/Attestation_02.png">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Authorizing the transaction</h2>
				<p>After clicking "I Agree" you will see a pop-up message asking you to authorize this free attest transaction.</p>
				<p>After a few seconds, when the transaction is confirmed and included in a block, you will see a green success box appear in the upper right corner.</p>
				<p>Congratulations! You have successfully claimed your DOTs!</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/Attestation_03.png">
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row mb-5">
			<div class="col-12 col-lg-6 pr-lg-5">
				<h2 class="text-white mb-3">Viewing your claim</h2>
				<p>You can now check your DOT balance in your Polkadot account.</p>
				<p>Having trouble? Get support in the DOT <a href="https://riot.im/app/#/room/!kwIkVteRpPRjjTyvTe:web3.foundation?via=web3.foundation&via=matrix.org&via=matrix.parity.io" target="_blank" rel="noopener noreferrer">Claims Support</a> channel or email our <a href="http://support@polkadot.network" target="_blank" rel="noopener noreferrer">Support Desk</a>.</p>
			</div>
			<div class="col-12 col-lg-6 slider-img-wrapper">
				<div class="slider-img">
					<img class="tns-lazy-img" data-src="{{site.baseurl}}/assets/images/slider/Attestation_04.png">
				</div>
			</div>
		</div>
		<a href="#claim-verify" class="slider-arrow-down"><i class="material-icons">arrow_downward</i></a>
	</div>

</div>
