<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

	{%- include header.html -%}

	<main class="page-wrapper" aria-label="Content">
		<div class="wrapper">
			{{ content }}
		</div>
	</main>

	<a id="support" href="mailto:support@polkadot.network" class="bg-primary bg-primary--solid shadow d-block" target="_blank" rel="noopener noreferrer">
		<img class="logo" alt="Email Support" src="{{site.baseurl}}/assets/images/support.svg">
	</a>

	{%- include footer.html -%}

	<script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>

</body>

</html>
