<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="freeze-page">
	<nav class="navbar navbar--primary navbar-expand-lg navbar-light bg-white">
		<div class="container justify-content-center justify-content-lg-between">
			<a class="navbar-brand text-center text-md-left" href="https://polkadot.network/" target="_blank">
				<img class="logo header-logo-dark" alt="Polkadot" src="{{site.baseurl}}/assets/images/logo-polkadot.svg">
			</a>
		</div>
	</nav>
	<main class="page-wrapper" aria-label="Content">
		<div class="wrapper d-flex align-items-center justify-content-center h-100">
			<section class="bg-white">
				<div class="container height-30">
					<div class="row text-center justify-content-center">
						<div class="col-12 col-lg-8 py-0 pt-md-4 pb-md-3">
							<h1 class="display-4 mb-3 font-weight-bold" data-aos="slide-up">Under Maintenance</h1>
							<p class="lead mb-5">
								We are currently upgrading claims.polkadot.network as we launch Polkadot's initial Proof of Authority (PoA) phase.
							</p>
							<p class="text-gray">
								After this scheduled maintenance, holders of DOT allocation indicator tokens can claim their DOTs. If you haven’t made your claim yet, don't worry, this website will be back after 24 hours.
							</p>
							<p class="text-gray">
								This claims process is only for those who currently hold DOTs. Another potential DOT sale is slated for later this year, after the complete decentralization of the Polkadot network.
							</p>
							<div class="d-block d-md-flex justify-content-center">
								<p class="mr-2 text-gray">Follow Polkadot updates:</p>
								<ul class="mx-auto mx-md-0 list-social-links navbar-nav d-flex flex-row justify-content-center">
									<li>
										<a href="https://github.com/paritytech/polkadot" target="_blank" class="text-gray bg-white border">
											<i class="socicon-github"></i>
										</a>
									</li>
									<li>
										<a href="https://t.me/PolkadotOfficial" target="_blank" class="text-gray bg-white border">
											<i class="socicon-telegram"></i>
										</a>
									</li>
									<li>
										<a href="https://twitter.com/Polkadot" target="_blank" class="text-gray bg-white border">
											<i class="socicon-twitter"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
	<script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>
</body>

</html>
