---
layout: default
---

<section class="bg-primary">
	<div class="container height-30">
		<div class="row text-center justify-content-center">
			<div class="col-12 col-lg-8 py-0 pt-md-4 pb-md-3 mb-3">
				<h1 class="display-4 text-white mb-3">Time to Claim Your&nbsp;DOTs</h1>
				<p class="lead text-white">
					This site includes a step-by-step guide to connect your DOT allocation on Ethereum with a native Polkadot address. Below you will find tools to verify your claim and then check the balance of your Polkadot address. This site is only for holders of DOT allocation indicator tokens.
				</p>
			</div>
			<div class="col-12 col-lg-7">
				<div class="row">
					<div class="col-12 col-md-6 mb-3 mb-md-0">
						<a href="#verify-ethereum-address" class="btn btn-primary btn-lg btn-white mb-3 mx-1 jsSliderGoToA jsGoToAnchor" data-slider="1" data-anchor="#verify-ethereum-address">Start Claim</a>
						<p class="text-white px-4 small">If you have not yet claimed your DOTs, you must claim and attest</p>
					</div>
					<div class="col-12 col-md-6">
						<a href="#statement-attest" class="btn btn-primary btn-lg btn-white mb-3 mx-1 jsSliderGoToA jsGoToAnchor" data-slider="2" data-anchor="#statement-attest">Attest Only</a>
						<p class="text-white px-4 small">If you have already claimed your DOTs, you will only need to attest</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="verify-ethereum-address" class="bg-dark">
	<div class="container height-40">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-12 pt-2 pb-4">
				<div class="display-4 mb-2 opacity-70 text-white" data-aos="slide-up" data-aos-once="false">Step 1</div>
				<h2 class="display-4 text-white mb-3 mb-md-5">Check Your Ethereum <br>Address</h2>
				<input class="dashboard-input mb-3 mb-md-5" placeholder="Paste your Ethereum address" onfocus="this.placeholder=''" onblur="this.placeholder='Paste your Ethereum address'" onchange="window.validAddress();" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" id="validity-input">

				<div class="dashboard-output mt-2 w-85">
					<div class="dashboard-output-group">
						<div class="dashboard-output-name bg-white text-black">Claim Status:</div>
						<div class="dashboard-output-value text-white"><span id="validity-statement">unknown</span></div>
					</div>
				</div>

				<a href="#generate-polkadot-address" class="slider-arrow-down slider-arrow-down--ethereum"><i class="material-icons">arrow_downward</i></a>

			</div>
		</div>
	</div>
</section>

<section id="generate-polkadot-address" class="bg-white">
	<div class="container">
		{%- include wallet.html -%}
	</div>
	<span id="generate-polkadot-address-guide"></span>
	<span id="generate-polkadot-address-guide-polkadot_js-plugin"></span>
	<span id="generate-polkadot-address-guide-subkey"></span>
	<span id="generate-polkadot-address-guide-polkadot_js"></span>
	<span id="generate-polkadot-address-guide-coinbase"></span>
</section>

<section class="bg-dark pt-3 pt-md-3 pt-lg-0">
	<div class="container pb-0">
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoTo jsActive active" data-slider="1">polkadot.js browser plugin</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoTo jsActive" data-slider="2">subkey</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoTo jsActive" data-slider="3">polkadot.js</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoTo jsActive" data-slider="4">Coinbase Custody</button>
		<button class="btn mt-lg-minus-3 mr-1 mr-lg-2 mb-2" disabled>Parity Signer</button>
	</div>
	<div class="slider text-white">
		<div>
			<div class="container">
				{%- include slider_polkadot_js_plugin.html -%}
			</div>
		</div>
		<div>
			<div class="container">
				{%- include slider_subkey.html -%}
			</div>
		</div>
		<div>
			<div class="container">
				{%- include slider_polkadot_js.html -%}
			</div>
		</div>
		<div>
			<div class="container">
				{%- include slider_coinbase.html -%}
			</div>
		</div>
	</div>
</section>

<section id="claim" class="bg-white">
	<div class="container">
		<div class="row justify-content-start">
			<div class="col-12 mb-4">
				<div class="display-4 text-secondary mb-2" data-aos="slide-up" data-aos-once="false">Step 3</div>
				<h2 class="display-4">Claim Your DOTs</h2>
			</div>
			<div class="col-12 col-md-6 col-lg-6 pr-lg-3">
				<p>
					If you participated in a previous DOT sale and received your DOT allocation indicator tokens, you can now claim your DOTs, i.e. connect the address where your DOT indicators have been stored on Ethereum with a native Polkadot address. The claims process will ensure that your DOT allocation is denoted in Polkadot's genesis block.
				</p>
			</div>
			<div class="col-12 col-md-6 col-lg-6 mb-4">
				<p>
					Make sure to use the Ethereum key you used for your DOT allocation indicator tokens during this process. You can check your Ethereum key in <a href="#verify-ethereum-address">Step 1</a>.
				</p>
				<p>
					If you don’t have a Polkadot address, you will need to generate one. You can generate a Polkadot address in <a href="#generate-polkadot-address">Step 2</a>.
				</p>
			</div>
		</div>
	</div>
	<span id="claim-guide"></span>
	<span id="claim-guide-mycrypto"></span>
	<span id="statement-attest"></span>
</section>

<section class="bg-dark pt-3 pt-md-3 pt-lg-0">
	<div class="container pb-0">
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoToA jsActive active" data-slider="1">Claim & Attest</button>
		<button class="btn btn-primary btn-bg-dark mt-lg-minus-3 mr-1 mr-lg-2 mb-2 jsSliderGoToA jsActive" data-slider="2">Attest Only</button>
	</div>
	<div class="slider sliderA text-white">
		<div>
			<div class="container">
				{%- include slider_myCrypto.html -%}
			</div>
		</div>
		<div>
			<div class="container">
				{%- include slider_attest.html -%}
			</div>
		</div>
	</div>
</section>

<script src="assets/js/infobox.min.js"></script>
<!-- <script src="assets/js/pubkey.min.js"></script> -->

<section id="claim-verify" class="bg-primary">
	<div class="container height-40">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-12 pt-2 pb-4">
				<div class="display-4 mb-2 opacity-70 text-white" data-aos="slide-up" data-aos-once="false">Step 4</div>
				<div class="position-relative">
					<h2 id="claim-verify-heading" class="display-4 text-white mb-3 mb-md-5"><span>Verify Your Claim</spa>
					</h2>
					<div class="animation-wait">
						<svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 12" enable-background="new 0 0 0 0" xml:space="preserve" class="wait">
							<circle fill="#fff" stroke="none" cx="6" cy="6" r="6">
								<animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1" />
							</circle>
						</svg>
					</div>
					<div class="animation-check">
						<svg xmlns="http://www.w3.org/2000/svg" class="check" width="166" height="151" viewBox="0 0 166 150.9">
							<path d="M0.3 96l62.4 54.1L165.6 0.3" /></svg>
					</div>
				</div>
				<input class="dashboard-input mb-3 mb-md-5" onchange="window.infoBoxChecker();" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" id="address-input" placeholder="Paste your Polkadot address" onfocus="this.placeholder=''" onblur="this.placeholder='Paste your Polkadot address'" />

				<div class="dashboard-output mt-2">
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Allocation Address:</div>
						<div class="dashboard-output-value"><span id="eth-address">unknown</span></div>
					</div>
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Polkadot Address:</div>
						<div class="dashboard-output-value"><span id="pd-address">none</span></div>
					</div>
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Public Key:</div>
						<div class="dashboard-output-value"><span id="pubkey">none</span></div>
					</div>
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Index:</div>
						<div class="dashboard-output-value"><span id="index">none</span></div>
					</div>
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Vesting:</div>
						<div class="dashboard-output-value"><span id='vesting'>none</span></div>
					</div>
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Balance:</div>
						<div class="dashboard-output-value"><span id="balance">0</span> DOT</div>
					</div>
					<div class="dashboard-output-group">
						<div class="dashboard-output-name">Attested:</div>
						<div class="dashboard-output-value"><span id="attested">unknown</span></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section id="faq" class="bg-white">
	<div class="container spacer-y-2">
		<div class="row justify-content-center">
			<div class="col-md-9 col-lg-8">
				<h2 class="display-4 mb-5 text-center">FAQs</h2>
				{%- include faq.html -%}
			</div>
		</div>
		<div class="row justify-content-center mt-5">
			<div class="col-12 col-md-4 spacer-y-1 text-center text-black">
				Any other questions?
			</div>
			<div class="col-12 text-center" data-aos="fade-up">
				<a href="mailto:support@polkadot.network" class="btn btn-lg btn-primary mt-3 mx-md-1 px-4" target="_blank" rel="noopener noreferrer">Email Support</a>
				<a href="https://riot.im/app/#/room/!kwIkVteRpPRjjTyvTe:web3.foundation?via=web3.foundation" class="btn btn-lg btn-primary mt-3 mx-md-1" target="_blank" rel="noopener noreferrer">Riot Channel</a>
			</div>
		</div>
</section>
